<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abstractionizer.electronicstore.storage.rdbms.mappers.ProductMapper">

    <insert id="insertBatch">
        INSERT INTO product(name, type, price, stock)
        VALUES
            <foreach collection="entities" item="item" separator=",">
                (#{item.name},#{item.type},#{item.price},#{item.stock})
            </foreach>
    </insert>

    <update id="updateProduct">
        UPDATE product
        <set>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="type != null">
                type = #{type}
            </if>
            <if test="price != null">
                price = #{price}
            </if>
            <if test="status != null">
                status = #{status}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="reduceStockByOne">
        UPDATE product
        SET stock = stock-1
        WHERE id = #{id}
    </update>

    <select id="countByNames" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM product
        WHERE name IN
        <foreach collection="names" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="findById"
            resultType="com.abstractionizer.electronicstore.storage.rdbms.entities.ProductEntity">
        SELECT *
        FROM product
        WHERE id = #{id} AND status = #{status}
    </select>
    <select id="selectByIdForUpdate"
            resultType="com.abstractionizer.electronicstore.storage.rdbms.entities.ProductEntity">
        SELECT *
        FROM product
        WHERE id = #{id} AND status = #{status}
        FOR UPDATE
    </select>
</mapper>